body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

h1 {
    margin: 0;
    font-size: 100px;
    color: white;
}

img {
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    gap: 70px;
}

nav button {
    height: 50px;
    width: 100px;
    font-size: 30px;
    color: white;
    background-color: black;
}

/* Home Page */
.image-content img {
    height: 900px;
    width: 100vw;
}

.description {
    height: 300px;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Menu Page */
.food {
    height: 1200px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}