body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

#content {
    height: 20vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}